# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtualenv / Pipenv
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Env files / secrets
.env
.env.*

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Logs
*.log

# Tests / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# OS / editor
.DS_Store
**/.DS_Store
.idea/
.vscode/
